<div class="bg-white">
  <div class="text-center">
    <a href="#">
      <span class="glyphicon glyphicon-link bg-red"></span>
    </a>
    <h4 class="text-red">This is title</h4>
  </div>
  <div class="grid">
    <div class="row">
      <div class="col-xs-4">
        <img src="./assets/imgs/banner.jpg" alt="">
      </div>
      <div class="col-xs-8">
        <div class="text-jusify">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi enim quam, magni modi rerum odio, nam explicabo. 
        </div>
        <div class="text-right">
          <button class="btn btn-default text-grey">READ MORE</button>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-4">
        <span class="glyphicon glyphicon-time text-grey"></span><span class="text-grey">2017-07-17</span><span class="hidden-xs text-grey">14:40:40</span>
      </div>
      <div class="col-xs-4">
        <span class="glyphicon glyphicon-tag text-grey"></span><span class="text-grey">Angular</span>
      </div>
      <div class="col-xs-4">
        <span class="glyphicon glyphicon-comment text-grey"></span><span class="text-grey">3 COMMENTS</span>
      </div>
    </div>
  </div>
</div>