/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


/* background color settings */
.bg-red {
  background-color: #f45144;
}
.bg-white {
  background-color: white;
}
.bg-default {
  background-color: lightgrey;
}


/* color settings */
.text-red {
  color: #f45144;
}
.text-grey {
  color: grey;
}
.text-sky {
  color: #51ccd3;
}
.text-white {
  color: white;
}

.padding {
  padding: 15px;
}
.padding-top {
  padding-top: 15px;
}
.padding-bottom {
  padding-bottom: 8px;
}
.padding-left {
  padding-left: 15px;
}
.padding-right {
  padding-right: 15px;
}

/* border settings */
