<div class="bg-white padding">
  <div class="rank-item">
    <span class="label label-danger">1</span>
    <a href="#"><strong>This is title</strong></a>
  </div>
  <div class="rank-item">
    <span class="label label-warning">2</span>
    <a href="#"><strong>This is title</strong></a>
  </div>
  <div class="rank-item">
    <span class="label label-info">3</span>
    <a href="#"><strong>This is title</strong></a>
  </div>
  <div class="rank-item">
    <span class="label label-default">4</span>
    <a href="#"><strong>This is title</strong></a>
  </div>
  <div class="rank-item">
    <span class="label label-default">4</span>
    <a href="#"><strong>This is title</strong></a>
  </div>
  <div class="rank-item">
    <span class="label label-default">4</span>
    <a href="#"><strong>This is title</strong></a>
  </div>
  <div class="rank-item">
    <span class="label label-default">4</span>
    <a href="#"><strong>This is title</strong></a>
  </div>
  <div class="rank-item">
    <span class="label label-default">4</span>
    <a href="#"><strong>This is title</strong></a>
  </div>
</div>